.div1{
    width:200px ;
    height:100px ;
    animation-name:change ;
    animation-duration:3s ;
     background-color: rgb(139, 220, 214);
    top:0 ;
    left:0 ;
}
@keyframes change{
    0%{background-color: rgb(205, 236, 236); width: 250px;}
    25%{background-color:rgb(179, 181, 182) ;}
    75%{background-color:rgb(157, 199, 228) ;}
    100%{background-color:rgb(117, 199, 225) ; width: 1100px; height: 80px;}
}
.div2{
    width:200px ;
    height:100px ;
    animation-name:change ;
    animation-duration:3s ;
    animation-delay:4s ;
     background-color: rgb(139, 220, 214);
    top:0 ;
    left:0 ;
}
@keyframes change{
    0%{background-color: rgb(205, 236, 236); width: 250px;}
    25%{background-color:rgb(179, 181, 182) ;}
    75%{background-color:rgb(157, 199, 228) ;}
    100%{background-color:rgb(117, 199, 225) ; width: 1100px; height: 80px;}
}
.div3{
    width:200px ;
    height:100px ;
    animation-name:change ;
    animation-duration:3s ;
    animation-delay:6s ;
     background-color: rgb(139, 220, 214);
    top:0 ;
    left:0 ;
}
@keyframes change{
    0%{background-color: rgb(205, 236, 236); width: 250px;}
    25%{background-color:rgb(179, 181, 182) ;}
    75%{background-color:rgb(157, 199, 228) ;}
    100%{background-color:rgb(117, 199, 225) ; width: 1100px; height: 80px;}
}
.div4{
    width:200px ;
    height:100px ;
    animation-name:change ;
    animation-duration:3s ;
    animation-delay:8s ;
     background-color: rgb(139, 220, 214);
    top:0 ;
    left:0 ;
}
@keyframes change{
    0%{background-color: rgb(205, 236, 236); width: 250px;}
    25%{background-color:rgb(179, 181, 182) ;}
    75%{background-color:rgb(157, 199, 228) ;}
    100%{background-color:rgb(117, 199, 225) ; width: 1100px; height: 80px;}
}
.div4{
    width:200px ;
    height:100px ;
    animation-name:change ;
    animation-duration:3s ;
    animation-delay:10s ;
     background-color: rgb(139, 220, 214);
    top:0 ;
    left:0 ;
}
@keyframes change{
    0%{background-color: rgb(205, 236, 236); width: 250px;}
    25%{background-color:rgb(179, 181, 182) ;}
    75%{background-color:rgb(157, 199, 228) ;}
    100%{background-color:rgb(117, 199, 225) ; width: 1100px; height: 80px;}
}
.div5{
    width:200px ;
    height:100px ;
    animation-name:change ;
    animation-duration:3s ;
    animation-delay:12s ;
     background-color: rgb(139, 220, 214);
    top:0 ;
    left:0 ;
}
@keyframes change{
    0%{background-color: rgb(205, 236, 236); width: 250px;}
    25%{background-color:rgb(179, 181, 182) ;}
    75%{background-color:rgb(157, 199, 228) ;}
    100%{background-color:rgb(117, 199, 225) ; width: 1100px; height: 80px;}
}
.div6{
    width:200px ;
    height:100px ;
    animation-name:change ;
    animation-duration:3s ;
    animation-delay:14s ;
     background-color: rgb(139, 220, 214);
    top:0 ;
    left:0 ;
}
@keyframes change{
    0%{background-color: rgb(205, 236, 236); width: 250px;}
    25%{background-color:rgb(179, 181, 182) ;}
    75%{background-color:rgb(157, 199, 228) ;}
    100%{background-color:rgb(117, 199, 225) ; width: 1100px; height: 80px;}
}
.div7{
    width:200px ;
    height:100px ;
    animation-name:change ;
    animation-duration:3s ;
    animation-delay:16s ;
     background-color: rgb(139, 220, 214);
    top:0 ;
    left:0 ;
}
@keyframes change{
    0%{background-color: rgb(205, 236, 236); width: 250px;}
    25%{background-color:rgb(179, 181, 182) ;}
    75%{background-color:rgb(157, 199, 228) ;}
    100%{background-color:rgb(117, 199, 225) ; width: 1100px; height: 80px;}
}
.div8{
    width:200px ;
    height:100px ;
    animation-name:change ;
    animation-duration:3s ;
    animation-delay:18s ;
     background-color: rgb(139, 220, 214);
    top:0 ;
    left:0 ;
}
@keyframes change{
    0%{background-color: rgb(205, 236, 236); width: 250px;}
    25%{background-color:rgb(179, 181, 182) ;}
    75%{background-color:rgb(157, 199, 228) ;}
    100%{background-color:rgb(117, 199, 225) ; width: 1100px; height: 80px;}
}
.div2,.div4,.div6,.div8{
    margin-left: auto;
}